name: user_profile
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.10.4
dependencies:
  flutter:
    sdk: flutter
  hive: ^2.2.3
  hive_flutter: ^1.0.0
  cupertino_icons: ^1.0.8

dev_dependencies:
  build_runner: ^2.10.5 
  hive_generator: ^2.0.1
  flutter_test:
    sdk: flutter
    

  flutter_lints: ^6.0.0
flutter:

  uses-material-design: true
